
  #cloud-config
package_upgrade: true
packages:
  - curl
users:
- name: vpn
  ssh-authorized-keys:
    - ssh-key machine here
    - ssh-key machine here
  sudo: ['ALL=(ALL) NOPASSWD:ALL']
  groups: sudo
  shell: /bin/bash
runcmd:
  - sudo su -
  - apt update && apt -y install ca-certificates wget net-tools gnupg
  - wget -qO - https://as-repository.openvpn.net/as-repo-public.gpg | apt-key add -
  - echo "deb http://as-repository.openvpn.net/as/debian bionic main">/etc/apt/sources.list.d/openvpn-as-repo.list
  - apt update && apt -y install openvpn-as 
  - cat /usr/local/openvpn_as/init.log > openvpnlog.txt