spotify_api_key = "Spotify API key here"
spotify_user = "oauth User"
spotify_token_id = "oauth Token Here"
spotify_oauth_url = "oauth site  here"
artist_list = ["Artist", "Go", "Here"]
search_list = ["SearchTerm1", "SearchTerm2"]